<div th:fragment="login-frag" id="login-frag" hx-swap-oob="true">
    <dialog open id="login-modal">
        <article id="login-article">
            <header style="text-align: center">
                Login
            </header>
            <form id="login-form" method="post" th:action="${loginPath}">
                <fieldset>
                    <label>
                        Email
                        <input
                                name="email"
                                type="email"
                                placeholder="Email"
                                autocomplete="email"
                        />
                    </label>
                    <label>
                        Password
                        <input
                                type="password"
                                name="password"
                                placeholder="Password"
                                minlength="8"
                        />
                    </label>
                </fieldset>
            </form>
            <footer>
                <div style="display: flex; justify-content: space-between; width: 100%;">
                    <button class="contrast" _="on click call #login-modal.close()" aria-label="Close">Close</button>
                    <button th:_="'on click call #login-form.requestSubmit()'">Login</button>
                </div>
            </footer>
        </article>
    </dialog>
</div>