<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/prove.css}">
    <title>Password change</title>
</head>
<body>
<div class="middle-center">
    <main class="container">
        <article>
            <header>
                <p style="display: flex; justify-content: center;">
                    <b>Password changed</b>
                </p>
            </header>
            <p>
                Password has been changed successfully!
            </p>
            <footer>
                <a th:href="${welcomePage}" class="contrast" style="display:flex; justify-content: center;">To login</a>
            </footer>
        </article>
    </main>
</div>
</body>
</html>