<!DOCTYPE html>
<html lang="en" data-theme="light" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/prove.css" type="text/css" th:href="@{/css/prove.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <title>Presentations</title>
</head>
<body _="on htmx:configRequest set headerName to @content of <meta[name='_csrf_header']/>
    set token to @content of <meta[name='_csrf']/>
    set event.detail.headers[headerName] to token">
<header class="navbar navbar-bg">
    <section class="navbar-section">
        <a href="/index" class="btn btn-home tooltip tooltip-bottom" data-tooltip="Back to main page">Home</a>
    </section>
    <section class="navbar-section">
        <button class="btn btn-patch tooltip tooltip-bottom" data-tooltip="Add a new presentation" hx-get="/presentation/create-form" hx-target="#modal-post-form">
            <i class="icon icon-plus"></i>Add presentation</button>
    </section>
</header>
<div id="modal-post-form"></div>
<!--<div class="modal" id="modal-id">-->
<!--    <div id="modal-post-form"></div>-->
<!--&lt;!&ndash;    <div class="modal-container">&ndash;&gt;-->
<!--&lt;!&ndash;        &ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->

<div id="presentations-list">
    <div th:each="presentation : ${presentations}" th:insert="~{site/presentation-post :: presentation-post-object(presentation=${presentation})}"></div>
</div>
<div id="form-feedback"></div>
<div id="modal-patch-form"></div>
<div id="patch-feedback"></div>
<div id="delete-feedback"></div>
</body>
</html>