<div th:fragment="presentation-patch-modal" id="modal-patch-form" hx-swap-oob="true"
     _="on load add .active to #modal-patch">
    <div class="modal" id="modal-patch">
        <div class="modal-container">
            <div class="modal-header">
                <div class="modal-title h5 text-center">Update presentation</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form id="update-presentation-form" hx-encoding='multipart/form-data' hx-patch='/presentation/patch'>
                        <div class="form-group">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-input" type="text" id="title" name="title" required th:value="${presentation.name}" rows="3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-input" id="description" name="description" required th:text="${presentation.description}"></textarea>
                            <label class="form-label" for="link">Link</label>
                            <input class="form-input" type="url" id="link" name="link" th:value="${presentation.link}"
                            th:pattern="'[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?'"
                            required>
                            <label class="form-label" for="thumbnail">Thumbnail</label>
                            <input class="form-input" type="file" id="thumbnail" name="thumbnail" accept=".jpg, .jpeg, .png">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left"
                        th:_="'on click remove .active from #modal-patch'">
                    Close
                </button>
                <button type="submit" class="btn float-right"
                        th:_="'on click call #update-presentation-form.requestSubmit()'">
                    <i class="icon icon-upload"></i></button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="presentation-patch-success" id="patch-feedback" hx-swap-oob="true" _="on load remove .active from #modal-patch">
    <div class="toast toast-success bottom-right toast-sm" id="success-popup">
        <button class="btn btn-clear float-right" aria-label="Close" _="on click add .toast-btn-closing then wait 300ms then remove #success-popup"></button>
        Presentation updated!
    </div>
</div>