<div th:fragment="registration-modal" id="registration-modal" hx-swap-oob="true">
    <dialog open id="reg-modal">
        <article>
            <header style="text-align: center">
                <h2>Create your account</h2>
            </header>
            <form id="registration-form" th:hx-post="${createUserPath}">
                <fieldset>
                    <label>
                        Name
                        <input
                            name="name"
                            id="name"
                            type="text"
                            placeholder="Name"
                            required
                            />
                    </label>
                    <label>
                        Username
                        <input
                            name="username"
                            id="username"
                            type="text"
                            placeholder="Username"
                            required
                        />
                    </label>
                    <label>
                        Email
                        <input
                            name="email"
                            id="email"
                            type="email"
                            placeholder="Email"
                            required
                        />
                    </label>
                    <label>
                        Password
                        <input
                            name="password"
                            id="password"
                            type="password"
                            minlength="8"
                            required
                        />
                    </label>
                </fieldset>
            </form>
            <footer>
                <div style="display: flex; justify-content: space-between; width: 100%;">
                    <button class="contrast" _="on click call #reg-modal.close()" aria-label="Close">Close</button>
                    <button _="on click call #registration-form.requestSubmit()">Submit</button>
                </div>
            </footer>
        </article>
    </dialog>
</div>
<div th:fragment="registration-successful" id="registration-success" hx-swap-oob="true" _="on load call #reg-modal.close() then set #overlay-content.style.display to 'block'">
    <dialog open id="success-reg-modal">
        <article>
            <header>
                <button aria-label="Close" rel="prev" _="on click call #success-reg-modal.close() then set #overlay-content.style.display to 'none'"></button>
                <p style="display: flex; justify-content: center;">
                    <b>Thank you for registering!</b>
                </p>
            </header>
            <p>
                The account has been successfully created. A verification link will be sent shortly to the associated email to activate it.
            </p>
        </article>
    </dialog>
</div>