<div th:fragment="registration-modal" id="registration-modal" hx-swap-oob="true" th:_="'on load add .active to #reg-modal'">
    <div class="modal" id="reg-modal">
        <div class="modal-container">
            <div class="modal-header">
                <div class="modal-title h5 text-center">New account</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form id="registration-form" hx-post="/auth/register">
                        <div class="form-group">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-input" type="text" id="name" name="name" required>
                            <label class="form-label" for="email">Email</label>
                            <input class="form-input" type="email" id="email" name="email" required>
                            <label class="form-label" for="username">Username</label>
                            <input class="form-input" type="text" id="username" name="username" required>
                            <label class="form-label" for="password">Password</label>
                            <input class="form-input" type="password" id="password" name="password" required>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left" _="on click remove .active from #reg-modal">Close</button>
                <button type="submit" class="btn float-right" _="on click call #registration-form.requestSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>
<div th:fragment="registration-successful" class="overlay-item" id="registration-success" hx-swap-oob="true" _="on load remove .active from #reg-modal then set #overlay-content.style.display to 'block'">
    <div class="toast" id="success-popup">
        <button class="btn btn-clear float-right" aria-label="Close" _="on click remove #success-popup then set #overlay-content.style.display to 'none'"></button>
        The account has been successfully created. A verification link has been sent to the associated email to activate it.
    </div>
</div>