<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script th:src="@{/vendor/htmx-ext-response-targets.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/prove.css}">
    <title>Settings</title>
</head>
<body class="body-full-view" hx-ext="response-targets">
<div th:replace="~{layout/header :: header-nav}"></div>
<main class="container main-style">
    <article>
        <header>Settings</header>
        <details>
            <summary>
                General
            </summary>
            <article>
                <form>
                    <fieldset>
                        <legend>Language preference:</legend>
                        <label>
                            <input type="radio"
                                   value="english"
                                   name="language"
                                   th:checked="${languagePreference == 'english'}"
                                   th:hx-patch="${updateLanguagePath}"
                                   hx-trigger="change"
                            />
                            English
                        </label>
                        <label>
                            <input type="radio"
                                   value="romanian"
                                   name="language"
                                   th:checked="${languagePreference == 'romanian'}"
                                   th:hx-patch="${updateLanguagePath}"
                                   hx-trigger="change"
                            />
                            Romanian
                        </label>

                        <legend>Theme toggle:</legend>
                        <label>
                            <input type="radio"
                                   value="light"
                                   name="theme"
                                   th:checked="${themePreference == 'light'}"
                                   th:hx-patch="${updateThemePath}"
                                   hx-trigger="change"
                            />
                            Light
                        </label>
                        <label>
                            <input type="radio"
                                   value="dark"
                                   name="theme"
                                   th:checked="${themePreference == 'dark'}"
                                   th:hx-patch="${updateThemePath}"
                                   hx-trigger="change"
                            />
                            Dark
                        </label>
                        <legend>Date format preference:</legend>
                        <label>
                            <input type="radio"
                                   value="MM/DD/YYYY"
                                   name="dateFormat"
                                   th:checked="${dateFormatPreference == 'MM/DD/YYYY'}"
                                   th:hx-patch="${updateDateFormatPath}"
                                   hx-trigger="change"
                            />
                            MM/DD/YYYY
                        </label>
                        <label>
                            <input type="radio"
                                   value="DD/MM/YYYY"
                                   name="dateFormat"
                                   th:checked="${dateFormatPreference == 'DD/MM/YYYY'}"
                                   th:hx-patch="${updateDateFormatPath}"
                                   hx-trigger="change"
                            />
                            DD/MM/YYYY
                        </label>
                    </fieldset>
                </form>
            </article>
        </details>

        <details>
            <summary>
                Privacy
            </summary>
            <article>
                <form>
                    <fieldset>
                        <legend>Profile visibility:</legend>
                        <label>
                            <input type="radio"
                                   value="private"
                                   name="visibility"
                                   th:checked="${profileVisibilityPreference} == 'private'"
                                   th:hx-patch="${updateVisibilityPath}"
                                   hx-trigger="change"
                            />
                            Private
                        </label>
                        <label>
                            <input type="radio"
                                   value="public"
                                   name="visibility"
                                   th:checked="${profileVisibilityPreference} == 'public'"
                                   th:hx-patch="${updateVisibilityPath}"
                                   hx-trigger="change"
                            />
                            Public
                        </label>
                        <legend>Discoverable</legend>
                        <label>
                            <input type="radio"
                                   value="yes"
                                   name="discoverable"
                                   th:checked="${profileDiscoverablePreference} == 'yes'"
                                   th:hx-patch="${updateDiscoverabilityPath}"
                                   hx-trigger="change"
                                   disabled
                            />
                            Yes
                        </label>
                        <label>
                            <input type="radio"
                                   value="no"
                                   name="discoverable"
                                   th:checked="${profileDiscoverablePreference} == 'no'"
                                   th:hx-patch="${updateDiscoverabilityPath}"
                                   hx-trigger="change"
                                   disabled
                            />
                            No
                        </label>
                    </fieldset>
                </form>
                <button class="pico-background-red-500"
                       th:_="'on click add @open to #account-deletion-modal'">
                    Delete account
                </button>
            </article>
        </details>

        <details>
            <summary>
                Account & Security
            </summary>
            <article>
                <button class="pico-background-grey-500"
                        th:_="'on click add @open to #password-change-modal'">
                    Change password
                </button>
                <form th:hx-patch="${changeEmailPath}"
                      hx-target="#success"
                      hx-target-404="#error" hx-target-409="#error" hx-target-410="#error"
                      hx-swap="innerHTML"
                      _="on htmx:beforeRequest add @aria-busy='true' to #submit-email-btn
                         on htmx:afterRequest remove @aria-busy='true' from #submit-email-btn"
                >
                    <fieldset>
                        <label>
                            Change email
                            <input type="email"
                                   th:placeholder="${currentEmail}"
                                   name="newEmail"
                                   id="newEmail"
                            />
                            <button id="submit-email-btn" type="submit" class="pico-background-azure-500">
                                Apply change
                            </button>
                        </label>
                    </fieldset>
                </form>
            </article>
        </details>
    </article>
    <div id="success"></div>
    <div id="error"></div>
</main>
<div th:replace="~{fragments/modals :: password-change-modal}"></div>
<div th:replace="~{fragments/modals :: account-deletion-modal}"></div>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>