<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/prove.css" type="text/css" th:href="@{/css/prove.css}">
    <title>Account verified</title>
</head>
<body>
<div class="middle-center">
    <article>
        <b>Account has been successfully activated!</b>
        <footer>
            <a th:href="${welcomePage}" class="contrast" style="display:flex; justify-content: center;">To login</a>
        </footer>
    </article>
</div>
</body>
</html>