<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <link rel="stylesheet" href="/css/prove.css" th:href="@{/css/prove.css}">
    <title>Welcome</title>
</head>
<body>
<div style="display: flex; min-height: 100vh; width: 100%; align-items: center; justify-content: center;">
    <article>
        <header style="text-align: center">
            Login
        </header>
        <form id="login-form" method="post" th:action="${loginPath}">
            <fieldset>
                <label>
                    Email
                    <input
                            name="email"
                            type="email"
                            placeholder="Email"
                            autocomplete="email"
                    />
                </label>
                <label>
                    Password
                    <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            minlength="8"
                    />
                </label>
            </fieldset>
        </form>
        <footer>
            <button type="submit" th:_="'on click call #login-form.requestSubmit()'">Login</button>
            <a class="contrast" th:hx-get="${registerPath}" hx-target="#registration-modal">Sign Up</a>
        </footer>
    </article>


</div>
<div id="registration-modal"></div>
<div class="overlay" id="overlay-content"></div>
<div id="registration-success"></div>
<div id="account-is-active"></div>
</body>
</html>