<div th:fragment="email-change-response" id="email-change-response" hx-swap-oob="true" th:switch="${status}">
    <dialog open id="email-change-success" th:case="'success'">
        <article>
            <header>
                <button aria-label="Close" rel="prev" th:_="'on click call #email-change-success.close()'"></button>
                <p style="display: flex; justify-content: center;">
                    <b>Email changed</b>
                </p>
            </header>
            <p>
                Email has been changed successfully!
            </p>
        </article>
    </dialog>

    <dialog open id="email-change-failure" th:case="'failure'">
        <article>
            <header>
                <button aria-label="Close" rel="prev" th:_="'on click call #email-change-failure.close()'"></button>
                <p style="display: flex; justify-content: center;">
                    <b>Email not changed</b>
                </p>
            </header>
            <p>
                Email could not be changed!
            </p>
        </article>
    </dialog>
</div>
