<div th:fragment="password-change-response" id="password-change-response" hx-swap-oob="true" th:switch="${status}">
    <dialog open id="password-change-success" th:case="'success'">
        <article>
            <header>
                <button aria-label="Close" rel="prev" th:_="'on click call #password-change-success.close()'"></button>
                <p style="display: flex; justify-content: center;">
                    <b>Password changed</b>
                </p>
            </header>
            <p>
                Password has been changed successfully!
            </p>
        </article>
    </dialog>

    <dialog open id="password-change-failure" th:case="'failure'">
        <article>
            <header>
                <button aria-label="Close" rel="prev" th:_="'on click call #password-change-failure.close()'"></button>
                <p style="display: flex; justify-content: center;">
                    <b>Password not changed</b>
                </p>
            </header>
            <p>
                Password could not be changed!
            </p>
        </article>
    </dialog>
</div>